{% extends 'base.html.twig' %}

{% block body %}
<div class="alert alert-success">
    <p>id est :{{ article.id }}</p>
    <p>Nom est :{{ article.nom }}</p>
    <p>Prix est :{{ article.prix }}</p>
</div>
{% endblock %}

{% block title %}

{% endblock %}

